{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <h2>Login Page</h2>

    <form action="{{ path('app_login') }}" class="mt-4" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="_email" value="{{ last_username }}" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="_password" required>
        </div>

        {# If you want to control the URL the user is redirected to on success
    <input type="hidden" name="_target_path" value="/account"> #}

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <a href="{{ path('app_forgot_password_request') }}">Forgot Password</a>

{% endblock %}





